<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.virtualization.vmlauncher" >

    <uses-permission android:name="android.permission.MANAGE_VIRTUAL_MACHINE" />
    <uses-permission android:name="android.permission.USE_CUSTOM_VIRTUAL_MACHINE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-feature android:name="android.software.virtualization_framework" android:required="true" />

    <permission android:name="com.android.virtualization.vmlauncher.permission.USE_VM_LAUNCHER"
        android:protectionLevel="signature|preinstalled"/>

    <application
        android:label="VmLauncherApp">
        <activity android:name=".MainActivity"
                  android:screenOrientation="landscape"
                  android:configChanges="orientation|screenSize|keyboard|keyboardHidden|navigation|uiMode"
                  android:theme="@style/MyTheme"
                  android:resizeableActivity="false"
                  android:permission="com.android.virtualization.vmlauncher.permission.USE_VM_LAUNCHER"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.virtualization.VM_LAUNCHER" />
                <action android:name="android.virtualization.VM_OPEN_URL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
