service microdroid_manager /system/bin/microdroid_manager
    disabled
    # print android log to kmsg
    stdio_to_kmsg
    setenv RUST_LOG info
    # TODO(jooyung) remove this when microdroid_manager becomes a daemon
    oneshot
    # CAP_SYS_BOOT is required to exec kexec_load from microdroid_manager
    # CAP_SETPCAP is required to allow microdroid_manager to drop capabilities
    #   before executing the payload
    # CAP_SYS_NICE is required for microdroid_manager to adjust priority of the payload
    # CAP_SYS_PTRACE is required for microdroid_manager to dump /proc/{pid}/maps
    # CHOWN is required for encryptedstore (child of microdroid_manager) to chown individual directories for each tenant
    capabilities AUDIT_CONTROL SYS_ADMIN SYS_BOOT SETPCAP SETUID SETGID SYS_NICE SYS_PTRACE CHOWN
    user root
    # readproc to dump /proc/{pid}/maps
    group root readproc
    socket vm_payload_service stream 0666 system system
    socket vm_internal_service stream 0666 system system
    socket rpc_servicemanager stream 0666 system system
    oom_score_adjust -900
    reboot_on_failure shutdown
